/* Estilos Globais thIAguinho Arcade */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

canvas {
    display: block;
}

.hidden {
    display: none !important;
}

/* Utilitários de Animação Neon */
@keyframes pulse {
    0% { box-shadow: 0 0 5px #00f3ff; }
    50% { box-shadow: 0 0 20px #00f3ff; }
    100% { box-shadow: 0 0 5px #00f3ff; }
}

.neon-border {
    border: 2px solid #00f3ff;
    animation: pulse 2s infinite;
}
